<html ng-app="demos">
<head>
  <title>Hello World in AngularJS</title>
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
<select ng-model="file">
</select>
<input ng-model="name"> Hello {{ name }}

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</body>
</html>
